# Required for bot
pyrogram
TgCrypto
python-dotenv
hachoir
ffmpeg-python
beautifulsoup4
bs4

# DDL
pySmartDL
requests

# Database
dnspython
motor

# Others
psutil
js2py
cfscrape
lk21
lxml
httpx

# Google Drive
google-api-core
google-auth
oauth2client<4.0.0
google
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httplib2
